.c-resetpassword-page {
  height: calc(100vh - 60px);
  padding: 1rem;

  @include tablet-up {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}

.c-resetpassword-container {
  display: flex;
  flex-direction: column;

  @include tablet-up {
    grid-column: 2 / 10;
    grid-row: 2 / 5;
  }

  @include desktop-up {
    grid-column: 2 / 7;
  }
}