.l-nav-container {
  height: 60px;
  width: 100%;
  transition: bakground-color .25s ease-in-out;
  transition: color .25s ease-in-out;
  background-color: inherit;
  color: inherit;
  z-index: 10;
  position: relative;
  transform: translate3d(0, 0, 0);

  .c-logo--light {
    display: none;
  }

  .c-logo--dark {
    display: none;
  }

  &.teal {

    .c-logo--light {
      display: block;
    }

    .c-logo--dark {
      display: none;
    }

    .c-logo {
      display: none;
    }

    .color-accent {
      color: colors('bright-green');
    }
  }

  &.baby-teal {
    .c-logo--dark {
      display: block;
    }

    .c-logo--light {
      display: none;
    }

    .c-logo {
      display: none;
    }

    .color-accent {
      color: colors('teal');
    }
  }

  &.transparent {
    .c-logo {
      display: block;
    }

    .c-logo--dark {
      display: none;
    }

    .c-logo--light {
      display: none;
    }

    .color-accent {
      color: colors('aqua-blue');
    }

    @include tablet-up {
      background-color: transparent;
    }
  }

  &.transparent-white {
    color: white;

    .c-logo {
      display: block;
    }

    .c-logo--dark {
      display: none;
    }

    .c-logo--light {
      display: none;
    }
    
    .color-accent {
      color: colors('aqua-blue');
    }

    @include tablet-up {
      background-color: transparent;
    }
  }
}

#navigation.hidden {
  transform: translateY(-65px);
}

.l-mnav {
  position: relative;
  height: 100%;
  padding: 0 1rem;

  @include tablet-up {
    display: none;
  }
}
