.l-footer {
  padding: 1rem 2rem;
  color: colors('grey');
  background-color: colors('dark-grey');

  ul {
    padding: 0;
  }

  li {
    margin-left: 0;
  }

  li::before {
    display: none;
  }

  a {
    color: white;
    border-bottom: none;
    color: colors('grey');
    font-weight: fw('regular');
  }

  a:hover, a:active {
    color: white;
  }

  @include tablet-up {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-column-gap: 1rem;
  }
}

.l-footer--col {
  margin: 2rem 0;

  @include tablet-up {
    &:first-child {
      grid-column: 2 / 6;
    }

    &:nth-child(2) {
      grid-column: 7 / 10;
    }

    &:nth-child(3) {
      grid-column: 11 / 14;
    }
  }

  @include desktop-up {
    &:first-child {
      grid-column: 3 / 6;
    }

    &:nth-child(2) {
      grid-column: 7 / 10;
    }
  }
}