.c-nav.grid {
  display: none;
  padding: 0 1rem;
  grid-template-rows: 60px;
  grid-template-columns: repeat(14, 1fr);
  grid-column-gap: 1rem;

  @include tablet-up {
    display: grid;
    padding: 0;
  }

  @include desktop-up {
    padding: 0;
  }
}

.c-nav--homelink.grid {
  grid-row: 1;
  grid-column: 1 / 3;

  @include desktop-up {
    grid-column: 2 / 4;
  }

  &.default.c-logo--light {
    display: none;
  }

  &.default.c-logo--dark {
    display: none;
  }

  &.default.c-logo {
    display: block;
  }
}

.c-nav--search-container.grid {
  grid-row: 1;
  grid-column: 4 / 12;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  @include desktop-up {
    grid-column: 5 / 11;
  }
}

.c-nav--explore.grid {
  grid-row: 1;
  grid-column: 12 / 14;
  border-bottom: none;
  color: white;
  background-color: colors('aqua-blue');
  padding: .5rem 0;
  font-size: 90%;
  font-weight: fw('semi-bold');
  text-transform: lowercase;
  text-align: center;
  border-radius: .3rem;
  transition: color, background-color .2s linear;
  border: none;

  &:active, &:hover {
    color: white;
    background-color: colors('teal');
  }

  @include desktop-up {
    grid-column: 12 / 13;
  }
}

.c-profile.grid {
  grid-row: 1;
  grid-column: 14 / 15;
  position: relative;
  height: 100%;

  .c-avatar {
    height: 36px;
    width: 36px;
    object-fit: cover;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover .c-profile-menu--container {
    display: block;
  }

  @include desktop-up {
    grid-column: 13 / 14;
  }
}

.c-profile-menu--container {
  display: none;
  position: absolute;
  top: 100%;
  right: 50%;
  transform: translateX(50%);
  padding: 1rem;
  box-shadow: 0 0 10px 0 rgba(100, 100, 100, .2);
  background-color: white;
}

.c-profile-menu {
  padding: 0;
  
  li {
    margin: 0;

    a {
      display: block;
      padding: .5rem 0;
      border-bottom: none;
      color: colors('dark-grey');
      font-weight: fw('regular');

      &:hover {
        color: colors('aqua-blue');
      }
    }
  }

  li::before {
    display: none;
  }
}