.c-mprofile {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 2rem;
  color: white;
  background-color: colors('aqua-blue');
}

.c-avatar {
  height: 3rem;
  width: 3rem;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 1rem;
}

.c-mprofile--explore {
  padding: 1rem 2rem;
  border-bottom: none;
  text-transform: uppercase;
  font-weight: fw('semi-bold');
  display: block;
  color: colors('aqua-blue');
}

.c-mnav--logo {
  &.c-logo--dark {
    display: none;
  }
}