.c-course-grid {
  @include tablet-up {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
  }
}

.c-course-grid--filters {
  padding: .5rem 1rem;
  margin: 1rem;
  background-color: colors('light-grey');
  border-radius: .3rem;

  @include tablet-up {
    grid-row: 1;
    grid-column: 4 / 12;
    height: fit-content;
    margin: 0;
  }

  @include desktop-up {
    grid-column: 1 / 5;
    margin: 1rem 2rem;
  }
}

.c-course-grid--filters--header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.c-course-grid--filters--title {
  font-weight: fw('bold');
}

.c-course-grid--filter-icon {
  transform: rotate(90deg);
  width: 1.2rem;

  @include desktop-up {
    display: none;
  }
}

.c-course-grid--feed {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;

  @include tablet-up {
    grid-row: 2;
    grid-column: 4 / 12;
    padding: 0;
  }

  @include desktop-up {
    grid-row: 1;
    grid-column: 5 / 11;
  }
}

.c-course-grid--filters--body {
  height: 0;
  overflow: hidden;

  &.open {
    height: auto;
  }

  @include desktop-up {
    height: auto;
  }
}

.c-course-grid--filters--category {
  display: block;
  width: 100%;
  text-align: left;
  border: none;
  color: colors('dark-grey');
  border-radius: 0;
  position: relative;
  padding: .5rem 1.5rem;

  &:enabled:active, &:enabled:hover, &:enabled[data-selected='true'] {
    background-color: inherit;
    color: colors('aqua-blue');
  }

  &:enabled[data-selected="true"] {
    &::before {
      border-color: colors('aqua-blue');
      background-color: colors('aqua-blue');
    }
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: .5rem;
    height: .5rem;
    border-radius: .1rem;
    border: 2px solid colors('grey');
  }
}
