.c-page--details {
  padding: 0 1rem;

  @include tablet-up {
    padding: 0;
  }
}

.c-page--title {
  margin: .5rem 0;
}

.c-page--date {
  font-size: fs('small');
  color: colors('grey');
}

.c-page--content {
  padding: 1rem;

  @include tablet-up {
    padding: 0;
  }
}