.c-search {
  padding: 1rem;

  @include tablet-up {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-auto-rows: minmax(min-content, max-content);
    grid-column-gap: 1rem;
    padding: 0 1rem;
  }

  @include desktop-up {
    padding: 0;
  }
}

.c-search--title {
  font-size: fs('h4');

  @include tablet-up {
    grid-row: 1;
    grid-column: 4 / 12;
  }

  @include desktop-up {
    grid-column: 5 / 11;
  }
}

.c-search--searchbar {
  @include tablet-up {
    display: none;
  }
}

.c-search--results {
  @include tablet-up {
    grid-row: 2;
    grid-column: 4 / 12;
  }

  @include desktop-up {
    grid-column: 5 / 11;
  }
}