.color-accent {
  color: colors('teal');
}

.row-between {
  @extend .row;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;

  &.wrappable {
    flex-wrap: wrap;
  }
}

.row-center {
  @extend .row;
  justify-content: center;
}