.c-course-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
  border-radius: .2rem;
  background-color: colors('baby-teal');
  color: colors('dark-grey');
  margin: 1rem 0;
  height: 6.5rem;
}

.c-course-card--thumbnail {
  flex: 2;
  width: 0;
  object-fit: cover;
}

.c-course-card--details {
  flex: 3;
  padding: .5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.c-course-card--title {
  display: block;
  font-weight: fw('semi-bold');
  margin-bottom: .2rem;

  @include desktop-up {
    font-size: fs('h6');
  }

  @include desktop-large-up {
    font-size: fs('h5');
  }
}

.c-course-card--link {
  display: block;
  border-bottom: none;
  font-weight: fw('regular');

  @include desktop-large-up {
    text-transform: uppercase;
  }
}

.c-course-card--categories, .c-course-card--tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: fw('semi-bold');
  font-size: .8rem;

  a {
    border-bottom: none;
  }
}

.c-course-card--tags {
  display: none;
  @include tablet-up {
    display: flex;
  }
}

.c-course-card--categories {
  @include tablet-up {
    margin-right: .5rem;
    margin-bottom: 0;
  }
}

.c-course-card--term-icon {
  height: 1rem;
}

.c-course-card--terms {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.c-course-card--progress-bar {
  height: .5rem;
  background-color: rgba(0, 0, 0, .1);
  border-radius: 1rem;
  overflow: hidden;
}

.c-course-card--progress {
  background-color: colors('aqua-blue');
  height: 100%;
  border-radius: 1rem;
}