.c-dashboard {
  margin: 1rem 0;
  @include tablet-up {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
  }
}

.c-dashboard-menu {
  display: flex;
  flex-direction: column;

  @include tablet-up {
    grid-column: 1 / 4;
    grid-row: 1;
    height: fit-content;
    margin: 1rem 0;
  }
}

.c-dashboard-menu--item {
  flex: 1;
  padding: .5rem 1rem;
  width: calc(100% - 1rem);
  margin: 0;
  border: none;
  text-align: left;
  color: colors('dark-grey');
  border-radius: 0;

  &.active {
    color: white;
    background-color: colors('aqua-blue');
  }

  &:enabled:hover, &:enabled:active {
    color: colors('dark-grey');
    background-color: colors('baby-teal');
  }

  @include tablet-up {
    text-align: right;
  }
}

.c-dashboard--content {
  padding: 0 1rem;

  @include tablet-up {
    padding: 0;
    grid-column: 4 / 12;
    grid-row: 1;
  }

  @include desktop-up {
    grid-column: 5 / 11;
  }
}

.c-dashboard--title {
  font-size: fs('h5');
  text-transform: uppercase;
}

.c-dashboard-feed {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.c-dashboard--loadmore {
  align-self: center;
}