.c-post-card {
  margin-bottom: 5rem;
}

.c-post-card--title--link {
  color: inherit;
  border: none;

  &:active, &:hover {
    color: colors('teal');
  }
}

.c-post-card--readmore {
  display: inline-block;
  color: colors('teal');
  border: 1px solid colors('teal');
  padding: .8rem 1.5rem;
  transition: color, background-color .2s linear;
  border-radius: 10rem;

  &:active, &:hover {
    color: white;
    background-color: colors('teal');
  }
}