* {
  box-sizing: border-box;
}

html {
  color: colors('dark-grey');
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
}

a {
  text-decoration: none;
  color: colors('teal');
  cursor: pointer;
  font-weight: fw('semi-bold');
  transition: color .2s linear;
  border-bottom: 1px solid;

  &:hover, &:active {
    color: colors('aqua-blue');
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
}

h1 {
  font-size: fs('h1');
  font-weight: fw('bold');
  margin: 1rem 0;
}

h2 {
  font-size: fs('h2');
  font-weight: fw('semi-bold');
  margin: 1rem 0;
}

h3 {
  font-size: fs('h3');
  font-weight: fw('semi-bold');
  margin: 1rem 0;
}

h4 {
  font-size: fs('h4');
  font-weight: fw('semi-bold');
  margin: 1rem 0;
}

h5 {
  font-size: fs('h5');
  font-weight: fw('semi-bold');
  margin: 1rem 0;
}

h6 {
  font-size: fs('h6');
  font-weight: fw('semi-bold');
  margin: 1rem 0;
}

p {
  font-weight: fw('regular');
  line-height: 1.3;
  margin: .5rem 0;
}

blockquote {
  font-style: italic;
  font-weight: fw('medium');
  border-left: .2rem solid colors('aqua-blue');
  background-color: colors('baby-teal');
  padding: 1rem;
  margin: 1rem 0;
}

ol, ul {
  padding-left: 1rem;
}

dt {
  font-weight: fw('semi-bold');
  font-style: italic;
}

dd {
  margin: .5rem 0;
  margin-left: 2rem;
}

ol {
  counter-reset: ol;
}

li {
  margin: .5rem 0;
}

ol li {
  counter-increment: ol;

  &::before {
    content: counters(ol, '.') ". ";
    font-weight: fw('semi-bold');
    color: colors('teal');
  }
}

ul li {
  position: relative;
  margin-left: 1rem;

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: .5rem;
    left: -1rem;
    transform: translateY(-50%);
    height: .5rem;
    width: .5rem;
    background-color: colors('teal');
  }
}

table, audio, video, iframe, textarea, canvas {
  max-width: 100%;
}

table {
  display: block;
  max-width: 100%;
  overflow-x: auto;

  caption {
    text-align: left;
    font-size: fs('h5');
    font-weight: fw('semi-bold');
    margin: 1rem 0;
    display: inline-block;
  }

  th, td {
    padding: .5rem;
    text-align: center;
  }
}

thead, tfoot {
  background-color: colors('teal');
  font-weight: fw('semi-bold');
  color: white;
}

tbody {
  tr:nth-child(even) {
    background-color: colors('baby-teal');
  }
}

kbd, code, samp {
  font-family: monospace;
  text-transform: lowercase;
  background-color: colors('light-grey');
  padding: .2rem .5rem;
  border-radius: .2rem;
}

kbd {
  box-shadow: 1px 1px 1px 1px #00000030;
}

strong, b {
  font-weight: fw('bold');
}

em, i {
  font-style: italic;
}

small {
  font-size: fs('small');
}

cite, q {
  font-weight: fw('semi-bold');
  font-style: italic;
}

dfn {
  font-weight: fw('semi-bold');
  text-decoration: underline;
}

mark {
  background-color: colors('baby-teal');
}

var {
  font-weight: fw('semi-bold');
  font-family: monospace;
}

img {
  max-width: 100%;
  object-fit: contain;
  height: auto;
}

figure {
  display: block;
  width: fit-content;

  img {
    display: block;
  }
}

figcaption {
  background-color: colors('light-grey');
  padding: 1rem;
  font-weight: fw('medium');
}

input, textarea {
  outline: none;
}

button {
  outline: none;
  background-color: transparent;
  color: colors('aqua-blue');
  border: 1px solid;
  padding: 1rem 1.5rem;
  border-radius: 10rem;
  font-weight: fw('semi-bold');
  text-transform: uppercase;
  margin: .5rem 0;
  transition: all .25s ease-in-out;
  
  &:enabled:hover {
    background-color: colors('aqua-blue');
    color: white;
  }

  &:disabled {
    color: colors('baby-teal');
  }
}