.l-page-container {
  @include tablet-up {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-column-gap: 1rem;
    margin-top: 1rem;
  }
}

.l-page {
  @include tablet-up {
    grid-column: 4 / 12;
    grid-row: 1;
  }

  @include desktop-up {
    grid-column: 5 / 11;
  }
}

.l-page--sidebar {
  @include tablet-up {
    grid-column: 4 / 12;
    grid-row: 2;
  }

  @include desktop-up {
    grid-column: 2 / 5;
    grid-row: 1;
  }
}