.c-footer--logo {
  height: 40px;

  @include tablet-up {
    height: 60px;
  }
}

.c-footer--widget--title {
  font-size: 1rem;
}

.wpml-ls {
  a, a:hover {
    color: colors('dark-grey');
  }
}

.wpml-ls-flag {
  margin-right: 1rem;
}