.c-cta {
  padding: 1rem;

  @include tablet-up {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/bubble.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
  }
}

.c-cta--copy {
  line-height: 1.5;
}

.c-cta--button-container {
  height: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.c-cta--button {
  @extend button;
  grid-row: 1 / 3;
  grid-column: 1 / 3;
  display: inline-block;
  border: none;
  background-color: colors('bright-green');
  color: white;
  text-align: center;

  &:active, &:hover {
    background-color: white;
    color: colors('bright-green');
  }
}

.c-cta--click {
  grid-column: 1 / 3;
  grid-row: 2 / 8;
  height: 100%;
  pointer-events: none;

  @include desktop-up {
    grid-row: 2 / 11;
  }
}

.c-cta--bubble {
  display: none;

  @include tablet-up {
    display: block;
    grid-column: 1 / 6;
    grid-row: 2 / 5;
  }
}

.c-cta--content {
  @include tablet-up {
    width: 50%;
    height: 50%;
    transform: translateY(20%);
  }

  @include desktop-up {
    width: 35%;
  }

  @include desktop-large-up {
    width: 30%;
  }
}