.c-hero {
  padding: 0 1rem;

  @include tablet-up {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }
}

.c-hero--image {
  margin-bottom: 1rem;

  @include tablet-up {
    grid-column: 2 / 10;
    grid-row: 2 / 9;
  }
}

.c-hero--content {
  @include tablet-up {
    grid-column: 9 / 14;
    grid-row: 2 / 5;
  }

  @include desktop-up {
    grid-row: 4 / 6;
  }
}

.c-hero--heading, .c-hero--subheading {
  margin: 0;
  line-height: 1.2;
  text-transform: uppercase;
}

.c-hero--heading {
  font-size: fs('h4');
}

.c-hero--subheading {
  font-size: fs('h4');
  font-weight: fw('regular');
}

.c-hero--copy {
  line-height: 1.5;
}