.c-latest-courses {
  padding: 0 1rem;

  @include desktop-up {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-auto-rows: minmax(min-content, max-content);
  }
}

.c-latest-courses--heading {
  text-transform: uppercase;

  @include tablet-up {
    text-align: center;
    margin-bottom: 2.5rem;
  }

  @include desktop-up {
    grid-column: 2 / 14;
    grid-row: 1;
  }
}

.c-latest-courses--list  {
  @include tablet-up {
    grid-column: 2 / 14;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
  }

  @include desktop-up {
    grid-column-gap: 2rem;
  }
}