.c-form {
  display: flex;
  flex-direction: column;
}

.c-form--label {
  display: block;
  font-weight: fw('semi-bold');
  color: colors('grey');
}

.c-form--input {
  display: block;
  width: 100%;
  border: none;
  padding: .5rem 0;
  color: colors('dark-grey');
  font-size: 1rem;
  background-color: transparent;
}

.c-form--field {
  margin: .5rem 0;
  padding: .5rem 1rem;
  border: 1px solid colors('light-grey');
  border-left: .3rem solid colors('light-grey');
  border-radius: .3rem;
  transition: border-left, box-shadow .2s linear;
  
  &:focus-within {
    box-shadow: 0 0 15px 0 rgba(200, 200, 200, .5);
    border-left: .3rem solid colors('aqua-blue');
  }
}

.c-form--submit {
  -webkit-appearance: none;
  background-color: colors('aqua-blue');
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: .3rem;
  padding: .5rem 0;
  width: 40%;
  font-weight: fw('semi-bold');
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin: .5rem 0;
  margin-right: .5rem;
  transition: color, background-color .2s linear;

  &:hover, &:active {
    background-color: colors('teal');
  }
}

.c-form--checkbox-field {
  padding: 1rem 0 1rem .3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.c-form--checkbox {
  visibility: hidden;
  margin: 0;
  margin-right: .5rem;
  position: relative;

  &::before {
    content: '';
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    border-radius: .2rem;
    color: colors('grey');
    border: .1rem solid;
    background-color: white;
    transition: background-color .1s linear;
  }

  &:checked::before {
    background-color: colors('aqua-blue');
    color: colors('aqua-blue');
  }
}

.c-form--checkbox-label {
  font-weight: fw('medium');
}

.c-form--errors {
  padding: 1rem;
  border-radius: .2rem;
  background-color: lighten(pink, 5);
  border-left: .3rem solid pink;
  overflow: hidden;
  position: relative;
}

.c-form--errors--close {
  position: absolute;
  top: .5rem;
  right: .5rem;
  color: pink;
}