.c-login-page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  @include tablet-up {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
  }
}

.c-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 5rem);
  margin-top: 5rem;
  
  @include tablet-up {
    justify-content: center;
    grid-row: 1;
    grid-column: 1 / 7;
    margin: 0;
  }
}

.c-login-page-decoration {
  display: none;

  @include tablet-up {
    display: block;
    grid-row: 1;
    grid-column:  7 / 15;
  }
}

.c-login-page-decoration--image {
  width: 100%;
  margin: 60px 0;
  height: calc(100% - 120px);
  object-fit: cover;
  object-position: center;
}

.c-login-page-decoration--image-full {
  width: 100%;
  height: 100%;
  filter: brightness(50%);
  object-fit: cover;
  object-position: center;
}

.c-login-page-decoration--default {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}