.c-about-first-section {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include tablet-up {
    background-image: url('../images/about-bubble.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
    align-items: center;
    padding: 0;
  }
}

.c-about-first-section--content {
  @include tablet-up {
    color: white;
    width: 75%;
    text-align: center;
  }

  @include desktop-up {
    width: 50%;
  }
}

.c-about-first-section--tutors {
  overflow-x:auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.c-about-first-section--tutor {
  margin: 1rem;
  height: 5rem;
  width: 5rem;
  object-fit: cover;
  border-radius: 50%;
}