.c-about-third-section {
  padding: 0 1rem;

  @include tablet-up {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.c-about-third-section--content {
  @include tablet-up {
    column-count: 2;
    column-gap: 1rem;
    width: 75%;
  }
}