.c-about-second-section {
  padding: 0 1rem;

  @include tablet-up {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.c-about-second-section--content {
  @include tablet-up {
    width: 75%;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}

.c-about-second-section--text {
  @include tablet-up {
    grid-row: 1 / 6;
    grid-column: 1 / 6;
  }

  @include desktop-up {
    grid-row: 2 / 5;
  }
}

.c-about-second-section--image {
  float: right;
  width: 50%;

  @include tablet-up {
    grid-row: 2 / 5;
    grid-column: 6 / 9;
    width: auto;
  }
}