.c-mnav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  position: relative;
}

.c-mnav--menu {
  position: absolute;
}

.c-mnav--homelink {
  display: block;
  height: 80%;
  margin: 0 auto;
  border-bottom: none;
}

.c-mnav--logo {
  height: 100%;
  object-fit: contain;
}

.c-mnav--search {
  position: absolute;
  right: 0;
}

.c-searchbar {
  transition: transform .2s linear;
  z-index: 15;
  transform: translateY(-100%);
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  height: 60px;
  padding: 1rem;
  background-color: white;
}