.c-nav {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 7.3%;

  @include tablet-up {
    display: flex;
  }
}

.c-nav--homelink {
  display: block;
  height: 100%;
  border: none;
}

.c-nav--logo {
  height: 100%;
  object-fit: contain;
}

.c-nav--menu {
  display: flex;
  flex-direction: row;
  align-items: center;

  li::before {
    display: none;
  }

  li {
    margin: 0;

    a {
      color: inherit;
      padding: 1rem;
      font-weight: fw('medium');
      font-size: .9rem;
      text-transform: uppercase;
      border: none;
    }
  }

  li:hover {
    color: colors('aqua-blue');
  }
}