.c-offcanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  margin-left: -85%;
  height: 100vh;
  width: 80%;
  background: white;
  box-shadow: .2rem 0 .2rem 1px rgba(#000000, .2);
  transition: all .2s ease-in-out;

  &.non-logged {
    padding: 2rem 0;
  }
}

.c-offcanvas--menu {
  padding-left: 0;

  li {
    margin: 0;

    a {
      display: block;
      padding: 1rem 2rem;
      font-weight: fw('semi-bold');
      text-transform: uppercase;
      color: inherit;
      border-bottom: none;
    }
  }

  li::before {
    display: none;
  }
}