.l-mnav.open {
  .c-offcanvas {
    margin-left: 0;
    color: colors('dark-grey');
  }

  .c-overlay {
    display: block;
  }
}

.l-mnav.search {
  .c-searchbar {
    transform: translateY(0);
  }

  .c-overlay {
    display: block;
  }
}