.c-taxonomy--header {
  padding: 1rem;
  color: white;
  background-color: colors('aqua-blue');

  @include tablet-up {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
  }
}

.c-taxonomy--header-details {
  @include tablet-up {
    grid-column: 4 / 12;
  }

  @include desktop-up {
    grid-column: 5 / 11;
  }
}

.c-taxonomy--courses {
  padding: 1rem;

  @include tablet-up {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
  }
}

.c-taxonomy--feed {
  @include tablet-up {
    grid-column: 4 / 12;
  }

  @include desktop-up {
    grid-column: 5 / 11;
  }
}