.c-searchform {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: .2rem 1rem;
  color: colors('grey');
  background-color: colors('light-grey');
  border-radius: .3rem;
  transition: color .2s linear;

  &:focus-within {
    color: colors('dark-grey');
  }
}

.c-searchform--input {
  border: none;
  background-color: inherit;
  flex: 1;
  margin-left: 1rem;
}