.c-profile-page {
  padding: 1rem;

  @include tablet-up {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-auto-rows: minmax(fit-content, auto);
    grid-column-gap: 1rem;
    padding: 0;
  }
}

.c-profile-page--aside {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  border: 1px solid colors('light-grey');
  box-shadow: 0 0 10px 1px rgba(200, 200, 200, .2);
  border-radius: .3rem;
  overflow: hidden;

  @include tablet-up {
    grid-row: 1;
    grid-column: 4 / 12;
    margin: 1rem 0;
  }
  
  @include desktop-up {
    grid-column: 2 / 4;
    height: fit-content;
    flex-direction: column;
    padding: 0;
    margin: 1rem 0;
    box-shadow: none;
    border: none;
    border-radius: 0;
  }
}

.c-profile-page--info {
  @include tablet-up {
    grid-row: 2;
    grid-column: 4 / 12;
  }

  @include desktop-up {
    grid-row: 1;
    grid-column: 5 / 11;
  }
}

.c-profile-page--avatar {
  max-height: 10rem;
  flex: 1;
  width: 0;
  object-position: center;
  object-fit: cover;

  @include desktop-up {
    height: auto;
    width: 100%;
    border-radius: .3rem;
  }
}

.c-profile-page--aside--content {
  padding: 1rem 0;
  padding-left: 1rem;
  flex: 1;

  @include desktop-up {
    padding: 0;
  }
}

.c-profile--display-name {
  font-weight: fw('bold');
}

.c-profile--username {
  color: colors('grey');
}

.c-profile-page--aside--link {
  border-bottom: none;
  display: inline-block;
  border: 1px solid;
  min-width: 48%;
  padding: .5rem;
  text-align: center;
  border-radius: .2rem;

  &:active, &:hover {
    background-color: colors('aqua-blue');
    color: white;
    border-color: colors('aqua-blue');
  }
}

.c-profile-page--card {
  border: 1px solid colors('light-grey');
  box-shadow: 0 0 5px 1px rgba(200, 200, 200, .2);
  padding: 1rem;
  border-radius: .3rem;
}

.c-profile-page--card-title {
  font-size: 1rem;
  margin: 1rem;
}

.c-profile-page--card-field {
  margin: 1rem 0;
  border-bottom: 1px solid colors('light-grey');

  &:last-child {
    border-bottom: none;
  }
}

.c-profile-page--card-label {
  color: colors('grey');
}

.c-profile-page--card-value {
  font-weight: fw('semi-bold');
}

.c-profile-page--tutor {
  @include desktop-up {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.c-profile-page--tutor-details {
  text-align: center;

  @include desktop-up {
    flex: 2;
    text-align: initial;
    padding: 1rem;
  }
}

.c-profile-page--tutor-avatar {
  @include desktop-up {
    flex: 1;
    width: 0;
  }
}

.c-profile-page--tutor-name {
  font-weight: fw('semi-bold');
}

.c-profile-page--tutor-languages {
  display: flex;
  flex-direction: column;
}

.c-profile-page--tutor-language {
  text-align: left;
  margin: .5rem;
}

.c-profile-page--stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: colors('baby-teal');
}

.c-profile-page--stats-metric {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: .85rem;
}

.c-profile-page--stats-number {
  font-size: 2rem;
  color: colors('dark-grey');
  font-weight: fw('semi-bold');
}