.c-fullscreen-section {
  min-height: 100vh;
  padding: 1rem 0;
}

.c-transition-container, #root.c-transition-container {
  transition: all .25s ease-in-out;

  &.baby-teal {
    background-color: colors('baby-teal');
  }

  &.teal {
    background-color: colors('teal');
    color: white;
  }

  &.bright-green-light {
    background-color: colors('bright-green-light');
  }
}