.c-course--header {
  position: relative;
  z-index: 1;
}

.c-course--title {
  color: white;
  position: absolute;
  bottom: 1rem;
  padding: 0 1rem;
  font-size: fs('h4');
  max-width: 960px;
  width: 100%;

  @include tablet-up {
    left: 50%;
    transform: translateX(-50%);
    font-size: fs('h1');
  }
}

.c-course--image {
  filter: brightness(.3);

  @include tablet-up {
    height: 30vh;
    width: 100%;
    object-fit: cover;
  }

  @include desktop-up {
    height: 50vh;
  }
}

.c-course--content {
  padding: 1rem;
  max-width: 960px;
  margin: 0 auto;
}