.c-404 {
  padding: 1rem;
  max-width: 960px;
  margin: 0 auto;

  @include tablet-up {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
}

.c-404--message {
  @include tablet-up {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  @include desktop-up {
    flex: 2;
    justify-content: flex-start;
  }
}

.c-404--latest-courses {
  @include tablet-up {
    flex: 1;
  }
}

.c-404--title {
  font-size: 5rem;

  @include tablet-up {
    font-size: 7rem;
    margin: 0;
  }
}

.c-404--home {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .8rem 1.5rem;
  border: 1px solid;
  width: 11rem;
  transition: background-color, color .2s linear;
  border-radius: 10rem;

  &:active, &:hover {
    background-color: colors('teal');
    color: white;
    border: 1px solid colors('teal');
  }
}

.c-404--latest-courses--title {
  font-size: fs('h5');
}